<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body>

    {% include "./partials/nav.html" %}
    {% if myProject.environment == "production" %}
      <div>PRODUCTION</div>
    {% else %}
      <div>DEVELOPMENT</div>
    {% endif %}
    {{ layoutContent | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js" data-no-instant></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js" data-no-instant></script>
    {% endif %}

    {% if myProject.environment == "production" %}
      <script src="/static/js/instantclick.min.js" data-no-instant></script>
      <script data-no-instant>InstantClick.init();</script>
    {% endif %}
  </body>
</html>